---
import type { CollectionEntry } from "astro:content";
import { Icon } from "astro-icon/components";
import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import FormattedDate from "@/components/FormattedDate.astro";
import Banner from "@/components/Banner.astro";
// import SocialLink from "@/components/SocialLink.astro";
import { getRandomClass, getRandomIcon } from "src/tool";
import { IMAGE_HERO } from "src/consts";

type Props = CollectionEntry<"blog">["data"];

const {
  title = "",
  description,
  pubDate,
  updatedDate,
  heroImage = IMAGE_HERO,
  tags,
  icon = getRandomIcon("alien"),
} = Astro.props;
import { getCollection } from "astro:content";
const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
const bgClasses = [
  "hover:shadow-ppink",
  "hover:shadow-pgreen",
  "hover:shadow-pblue",
  "hover:shadow-pyellow",
  "hover:shadow-ppurlple",
];
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{jpeg,jpg,png,gif}",
);
if (!images[heroImage])
  throw new Error(
    `"${heroImage}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`,
  );
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <Header />
    <main class="container mx-auto md:px-10 text-white">
      <article>
        <Banner
          title={title}
          description={description}
          heroImage={images[heroImage]()}
        />
        <div class="text-black px-6 md:px-0">
          <div class="">
            <div class="text-sm text-pblack flex items-center justify-between">
              <FormattedDate date={pubDate} />
              {
                updatedDate && (
                  <div class="last-updated-on">
                    Last updated on <FormattedDate date={updatedDate} />
                  </div>
                )
              }
              <Icon name={icon} class="text-5xl" transition:animate="fade" />
            </div>

            <hr />
          </div>
          <div class="flex justify-between py-10 md:flex-row flex-col">
            <div class="prose md:w-1/2 flex flex-col gap-2">
              <slot />
            </div>
            <div class="flex flex-col gap-6" transition:animate="slide">
              <ul
                class="flex flex-col gap-2 pt-10 md:pt-0 items-start md:items-end"
              >
                <p class="md:hidden font-semibold">Related:</p>
                {
                  posts.map((post) => {
                    return (
                      <li
                        class={`text-left rounded-lg border-1 border-black shadow-card group hover:shadow-hover transition  px-2 py-2 ${getRandomClass(bgClasses)}`}
                      >
                        <a href={`/blog/${post.id}/`}>
                          <h4>{post.data.title}</h4>
                        </a>
                      </li>
                    );
                  })
                }
              </ul>
              <hr />
              <p>Written by</p>
              <div class="flex -mt-4 gap-2">
                <div
                  class="bg-pgreen w-10 h-10 aspect-square object-contain overflow-hidden"
                >
                  <Image src={images["/src/assets/author.png"]()} alt="Fran" />
                </div>
                <div>
                  <h3>Sherman Liu</h3>
                  <p class="text-pblack">A fullstack developer</p>
                </div>
              </div>
              <hr />
              <!-- <div>
                <p>Contributors:</p>
                <div class="flex items-center gap-6 text-xl">
                  <SocialLink
                    href="https://github.com/mooonpark"
                    iconName="sociallink/github"
                    bgColor="bg-pblue"
                  />
                  <SocialLink
                    href="https://www.instagram.com/shermanliu2048/"
                    iconName="sociallink/ins"
                    bgColor="bg-ppink"
                  />
                  <SocialLink
                    href="https://github.com/mooonpark"
                    iconName="sociallink/linkedin"
                    bgColor="bg-pgreen"
                  />
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </article>
    </main>

    <Footer />
  </body>
</html>
